.p-card {
    width: 280px;
    /* border: 1px solid black; */
}

.pizza-wrap {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.sizes,
.crusts,
.p-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F4;
    margin-top: 10px;
}

.sizes button,
.crusts button {
    padding: 6px 20px;
    border-radius: 6px;
    width: 100%;
}

.sizes button.active,
.crusts button.active {
    background-color: #D6D3D1;
}
.p-footer button {
    background-color: #F59E0B;
    color: white;
    padding: 6px 32px;
    border-radius: 12px;
}