.logo {
    display: flex;  
    align-items: center;
    gap: 10px;
}
.logo h4  {
    text-transform: uppercase;
}
.search div {
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: 100px;
}
.search input {
    padding: 10px 0px 10px 10px;
    width: 100%;
    outline: none;
}
.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}
.buttons button {
    background-color: #F59E0B;
    padding: 8px 12px;
    border-radius: 6px;
    color: white;
}
header {
    display: flex;
    padding: 15px 0;
    /* justify-content: space-between; */
}